/* main - see media queries below */
/*
selector{
property: value;
}
*/
body{
	color: #665544;
	background-color: #FFAA00;
	padding: 20px;
}
h1{
	background-color: #C982D3;
	padding: 40px;
	margin-top: 10px;
  text-align: center;
}
img
{
	margin-left:375px;
	margin-right:auto;
	display:block;
	width:50%;
}
